In [1]:
import numpy as np 
np.random.seed(100)
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns
import pandas as pd 

import JargoInstanceHelper as jih

# Creating instances with higher capacities

In [5]:
instance_path="Manhattan/mny-1-5000.instance"
customers, vehicles = jih.loadInstance(instance_path,debug=True)

DEBUG: loading instance from Manhattan/mny-1-5000.instance
DEBUG: loaded instance data with 10033 entities
DEBUG: instance contains 5033 customers
DEBUG: instance contains 5000 vehicles

In [7]:
vehicles['quantity']=6
jih.saveInstance('Manhattan/mny-6-5000.instance',customers,vehicles)

In [9]:
vehicles['quantity']=10
jih.saveInstance('Manhattan/mny-7-5000.instance',customers,vehicles)

# Creating instances with carpooling vehicles

We will create a couple of instances with type 3 vehicles by taking one of the test instances from Manhattan and modifying the destination of the vehicles (which is 0 for all of them by default)

In [6]:
instance_path="Manhattan/mny-1-5000.instance"
customers, vehicles = jih.loadInstance(instance_path,debug=True)

DEBUG: loading instance from Manhattan/mny-1-5000.instance
DEBUG: loaded instance data with 10033 entities
DEBUG: instance contains 5033 customers
DEBUG: instance contains 5000 vehicles

In [7]:
to_modify=vehicles.sample(frac=0.5)
#we kwow that there are 12,320 vertices in Manhattan
to_modify['destination']=np.random.randint(1, 12320, to_modify.shape[0])
vehicles.update(to_modify)
#"update" automatically conversts all numeric values to doubles
vehicles=vehicles.astype(int)
print("there are %d vehicles with the same origin and destination"%len(vehicles[vehicles['origin']==vehicles['destination']]))
vehicles.describe()

there are 1 vehicles with the same origin and destination

                id        origin   destination  quantity   early
count  5000.000000   5000.000000   5000.000000    5000.0  5000.0
mean   2500.500000   5951.454200   3074.970000       3.0     0.0
std    1443.520003   3540.830722   3976.650628       0.0     0.0
min       1.000000      2.000000      0.000000       3.0     0.0
25%    1250.750000   2914.000000      0.000000       3.0     0.0
50%    2500.500000   5717.000000      0.500000       3.0     0.0
75%    3750.250000   9073.250000   6060.250000       3.0     0.0
max    5000.000000  12309.000000  12313.000000       3.0     0.0

In [8]:
#setting the late time to 2000 arbitrarily
vehicles['late']=2000
customers['late']=2000
vehicles

        id  origin  destination  quantity  early  late
0        1     811         5939         3      0  2000
1        2    7144            0         3      0  2000
2        3   10068            0         3      0  2000
3        4    9694         1201         3      0  2000
4        5    5999            0         3      0  2000
...    ...     ...          ...       ...    ...   ...
4995  4996    5934            0         3      0  2000
4996  4997    5308         6512         3      0  2000
4997  4998    4971        11464         3      0  2000
4998  4999     840            0         3      0  2000
4999  5000    4696            0         3      0  2000

[5000 rows x 6 columns]

In [9]:
jih.saveInstance('Manhattan/mny-8-5000.instance',customers,vehicles)