In [1]:
import numpy as np 
np.random.seed(100)
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns
import pandas as pd 

import JargoInstanceHelper as jih

# Loading the instance

In [2]:
instance_path="Manhattan/mny-1-5000.instance"
customers, vehicles = jih.loadInstance(instance_path,debug=True)

DEBUG: loading instance from Manhattan/mny-1-5000.instance
DEBUG: loaded instance data with 10033 entities
DEBUG: instance contains 5033 customers
DEBUG: instance contains 5000 vehicles

# Vehicle Statistics

In [3]:
vehicles.head(5)

   id  origin  destination  quantity  early
0   1     811            0         3      0
1   2    7144            0         3      0
2   3   10068            0         3      0
3   4    9694            0         3      0
4   5    5999            0         3      0

There are two types of vehicles:
 - Type 3: carpooling vehicles with destinations of their own
 - Type 4: shared taxis which roam around serving customers

In [4]:
#type 4 vehicles only have an origin, and their destination
#is set to node 0, which acts as a dummy node in Jargo
vehicles['type']=np.where(vehicles['destination']==0,4,3)
vehicles.groupby('type').size()

type
4    5000
dtype: int64

In [5]:
print("mean number of seats per vehicle:",vehicles['quantity'].mean())
print("Detailed breakdown:")
vehicles.groupby('quantity').size()

mean number of seats per vehicle: 3.0
Detailed breakdown:

quantity
3    5000
dtype: int64

# Request Statistics

There are two types of customers:
- Type 1: single customer travelling alone
- Type 2: group of customers travelling together

In [6]:
customers['type']=np.where(customers['quantity']==1,1,2)
customers.groupby('type').size()

type
1    5033
dtype: int64

In [7]:
print("mean number of passengers per request:",customers['quantity'].mean())
print("Detailed breakdown:")
customers.groupby('quantity').size()

mean number of passengers per request: 1.0
Detailed breakdown:

quantity
1    5033
dtype: int64